<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Digital Twin</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
      <a href="/">🏠 Home</a> |
      <a href="/devices_view">📋 Devices</a> |
      <a href="/dashboard">📊 Dashboard</a>
    </nav>
    <hr>

    <h1>Welcome to Digital Twin Project</h1>
    <p>Select an option above to explore.</p>
</body>
</html>
